@import "src/common/sass/color-variables";
@import "src/common/sass/mixins/htmlTagsDecorators";

.textAppearanceAnimation {
  display: inline-block;
  opacity: 0;

  :global {
    animation: bounceIn 0.85s forwards;
  }

  min-width: 10px;
}

.textOnHoverAnimation {
  min-width: 10px;
  display: inline-block;

  :global {
    animation: rubberBand 1s both;
  }


  &:hover {
    animation: none;
    color: $hoveredElementColor;
  }
}

//@for $i from 1 through 99 {
//  .text-appearance-animation._#{$i} {
//    animation-delay: #{$i / 10}s;
//  }
//}

.pageCaption {
  //max-width: 400px;
  position: relative;
  color: $casualTextColor;
  font-size: 56px;
  margin: 0 0 10px 20px;
  line-height: 53px;
  font-family: 'Coolvetica', sans-serif;
  font-weight: 400;
  @media(max-width: 570px) {
    font-size: 36px;
  }
  @media(max-width: 400px) {
    font-size: 30px;
  }
  @media (max-height: 400px) {
    font-size: 30px;
    line-height: 30px;
  }

}

.withBeforeDecorator {
  &:before {
    @include beforeDecorator('<h1>', -30px, -15px);
  }
}

.withAfterDecorator {
  &:after {
    @include afterDecorator('</h1>', -20px, fit-content);
  }
}


.animatedDecorators {
  &:before {
    opacity: 0;
    //:global {
    //  animation: fadeIn 2s 9s forwards;
    //}
  }

  &:after {
    opacity: 0;
    //:global {
    //  animation: fadeIn 2s 9s forwards;
    //}
  }
}