$yellow: #ffd700;
$hoveredTextColor: #ffd700;

$darkGray: #4d4d4e;
$secondaryIconsColor: #4d4d4e;


$lightGray: #8d8d8d;
$mainIconsColor: #8d8d8d;


$grayish: #e1e1e1;
$casualTextColor: #e1e1e1;

$blue: #115173;
$secondaryBackGroundColor: #115173;

$backgroundColor: #022c43;
$mainBackgroundColor: #022c43;

$whiteText: #fff;
$brightTextColor: #fff;