@import './variables';

.flat-button {
  color: $yellow;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 4px;
  font-family: sans-serif;
  text-decoration: none;
  padding: 10px 18px;
  border: 1px solid $yellow;
  margin-top: 25px;
  float: left;
  animation: fadeInAnimation 1s 1.8s backwards;
  white-space: nowrap;
  background: rgba(255, 215, 0, 0);

  &:hover {
    cursor: pointer;
    background: $yellow;
    color: #333;
  }
}