@import '../../common/sass/variables';
@import 'src/common/sass/mixins/pageContainerConfig';
@import 'src/common/sass/mixins/htmlTagsDecorators';

.home-page {
  //background-color: rgba(225, 225, 225, 0.37);
  @include pageContainerConfig;

  &:before {
    @include beforeDecorator('<body>', 30px, 35px);
  }

  //&:after {
  //  @include afterDecorator('</body>', 20px, 1200px);
  //}

  .text-zone {
    //background-color: blueviolet;
    min-width: 300px;
    max-width: 700px;
    @media (max-width: 980px) {
      margin-left: 50px;
      margin-top: 50px;
      width: 95vw;
    }

    h1 {
      position: relative;
      color: $grayish;
      font-size: 56px;
      line-height: 53px;
      margin: 0;
      font-family: 'Coolvetica', sans-serif;
      font-weight: 400;
      @media(max-width: 570px) {
        font-size: 36px;
      }
      @media(max-width: 400px) {
        font-size: 30px;
      }
      @media (max-height: 400px) {
        font-size: 30px;
        line-height: 30px;
      }

      &:before {
        @include beforeDecorator('<h1>', -40px, -15px);
      }

      &:after {
        @include afterDecorator('</h1>', -20px, fit-content);
      }

      img {
        //margin-left: 1px;
        opacity: 0;
        width: 32px;
        height: auto;
        animation: rotateIn 1s linear both;
        animation-delay: 1.4s;
      }
    }

    h2 {
      position: relative;
      color: $lightGray;
      margin-top: 20px;
      font-weight: 400;
      font-size: 11px;
      font-family: sans-serif;
      letter-spacing: 3px;
      animation: fadeIn 1s 1.8s backwards;

      &:before {
        @include beforeDecorator('<p>', -15px, -30px)
      }

      &:after {
        @include afterDecorator('</p>', -15px, fit-content)
      }
    }

    @import "src/common/sass/flat-button";
  }

  .dev-main-photo {
    width: 30%;
    min-width: 200px;
    height: auto;
    @media (max-width: 980px) {
      width: 40%;
    }
    @media (max-height: 800px) {
      width: 30%;
    }
    @media (max-height: 710px) and (max-width: 980px) {
      display: none;
    }

  }

  &:after {
    @include afterDecorator('</body>', 30px, calc(100% - 150px));
  }

}