@import "src/common/sass/mixins/pageContainerConfig";
@import "src/common/sass/mixins/htmlTagsDecorators";
@import "src/common/sass/breakpoints-variables";
@import "src/common/sass/color-variables";
.aboutPage{
  @include pageContainerConfig;
  .pageLeft{
    width: 40%;
    min-width: 300px;
    max-width: 700px;
    @media (max-width: $firstBreakpoint) {
      margin-top: 50px;
      width: 95vw;
    }
    p {
      margin-top: 40px;
      position: relative;
      font-size: 17px;
      color: $casualTextColor;
      font-family: sans-serif;
      font-weight: 300;
      max-width: fit-content;
      :global{
        animation: pulse 2s;
      }

      &:before {
        @include beforeDecorator('<p>', -20px, -10px);
      }

      &:after {
        @include afterDecorator('</p>', -5px, fit-content);
      }
    }
  }
  .pageRight{
    position: relative;
    //background-color: crimson;
    width: 40%;
    min-width: 300px;
    min-height: 50vh;
    @media (max-width: $firstBreakpoint) {
      margin-top: 50px;
      width: 95vw;
    }
  }

}