@import 'src/common/sass/color-variables';
@import 'src/common/sass/mixins/htmlTagsDecorators';

.text-appearance-animation {
  display: inline-block;
  opacity: 0;
  animation: bounceIn 1s forwards;
  min-width: 10px;
}

.text-on-hover-animation {
  min-width: 10px;
  display: inline-block;
  animation: rubberBand 1s both;


  &:hover {
    animation: none;
    color: $hoveredElementColor;
  }
}

//@for $i from 1 through 99 {
//  .text-appearance-animation._#{$i} {
//    animation-delay: #{$i / 10}s;
//  }
//}

.page-caption {
  //max-width: 400px;
  position: relative;
  color: $casualTextColor;
  font-size: 56px;
  line-height: 53px;
  margin: 0;
  font-family: 'Coolvetica', sans-serif;
  font-weight: 400;
  @media(max-width: 570px) {
    font-size: 36px;
  }
  @media(max-width: 400px) {
    font-size: 30px;
  }
  @media (max-height: 400px) {
    font-size: 30px;
    line-height: 30px;
  }

  &:before {
    @include beforeDecorator('<h1>', -30px, -15px);
  }

  &:after {
    @include afterDecorator('</h1>', -20px, fit-content);
  }
}