@import "src/common/sass/mixins/pageContainerConfig";
@import "src/common/sass/mixins/flexConfig";
@import "src/common/sass/breakpoints-variables";
@import "src/common/sass/color-variables";

.portfolioPage {
  padding: 40px 40px 40px 100px;
  position: relative;

  @media (max-width: 600px) {
    padding-left: 5px;
    padding-right: 5px;
  }
}

.projectsContainer {
  @include flexBaseConfig;
  gap: 40px;
  margin-top: 40px;
  opacity: 0;
  :global{
    animation: bounceIn 3s 2s forwards;
  }
  //background-color: brown;
}

@keyframes :global(disable-pointer-events) {
  0%, 99% {
    pointer-events: none;
  }
}