@import "../../common/sass/color-variables";

$startSidebarWidth: 60px;

.sidebar {
  background-color: #181818;
  //background-color: rgba(24, 24, 24, 0.46);
  width: $startSidebarWidth;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  //top: 0;
  z-index: 3;
  //min-height: 500px;
  @media (max-width: 980px){
    display: none;
  }
  a {
    text-decoration: none;
  }

  .logo {
    //background-color: aqua;
    padding-top: 15px;
    height: 55px;
    color: $lightGray;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    //img {
    //  display: block;
    //  margin: 8px auto;
    //  width: 24px;
    //  height: auto;
    //}

    .logo-text {
      padding: 0;
      color: $grayish;
      font-weight: 800;
      font-size: 14px;
      //text-shadow: -3px 3px 3px $yellowColor
    }
  }

  nav {
    //background-color: rgba(169, 144, 180, 0.14);
    display: flex;
    //flex-direction: column;
    justify-content: center;
    //padding-left: 10px;
    //padding-right: 10px;
    flex-wrap: wrap;
    text-align: center;
    position: relative;
    width: 100%;

    a {
      box-sizing: border-box;
      //border: 1px solid white;
      width: 60px;
      font-size: 22px;
      color: $darkGray;
      display: block;
      line-height: 51px;
      height: 51px;
      position: relative;
      text-decoration: none;
      transition: all 0.3s ease-out;

      &:hover {
        color: $yellow;

        svg {
          opacity: 0;
        }

        &:after {
          opacity: 1;
        }
      }

      &:after {
        content: '';
        font-size: 9px;
        letter-spacing: 2px;
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        text-align: center;
        opacity: 0;
        transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
      }

      &:first-child {
        //margin-top: 20px;
        &:after {
          content: 'HOME';
        }
      }
    }

    a.about-link {
      &:after {
        content: 'ABOUT';
      }
    }

    a.skills-link {
      &:after {
        content: 'SKILLS';
      }
    }

    a.contact-link {
      &:after {
        content: 'CONTACT';
      }
    }

    a.active {
      svg {
        color: $yellow;
      }
    }
  }

  ul {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    list-style: none;
    margin: 0 0 15px;

    li {
      a {
        padding: 7px 0;
        display: block;
        font-size: 15px;
        line-height: 16px;
        color: $darkGray;

        &:hover svg {
          color: $yellow;
        }
      }
    }
  }
}