@import '../color-variables';

@mixin contentDecoratorConfig {
  font-family: 'La Belle Aurore', cursive;
  color: $hoveredElementColor;
  font-size: 18px;
  position: absolute;
  //opacity: 0.6;
  //animation: jello 3s;
}

@mixin beforeDecorator($tagName, $topPosition, $leftPosition) {
  @include contentDecoratorConfig;
  content: $tagName;
  top: $topPosition;
  left: $leftPosition;
}

@mixin afterDecorator($tagName, $bottomPosition, $rightPosition) {
  @include contentDecoratorConfig;
  content: $tagName;
  bottom: $bottomPosition;
  left: $rightPosition;
  //left: #{$rightPosition } + 20px;
  //right: $rightPosition;
}