@import 'flexConfig';

@mixin pageContainerConfig {
  //will-change: contents;
  width: 100%;
  min-height: 100vh;
  min-width: 300px;
  //min-height: 500px;
  opacity: 0;
  z-index: 1;
  transform-style: preserve-3d;
  animation: fadeIn 1s forwards;
  animation-delay: 1s;
  @include flexBaseConfig;
  //flex-grow: 1;
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}
