@import "src/common/sass/flat-button";
@import "src/common/sass/color-variables";
@import "src/common/sass/breakpoints-variables";

$iconsColor: $secondaryIconsColor;
$hoveredElementHighlight: $hoveredElementColor;

.popupOpen {
  @extend .flat-button;
  margin: 0;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 56px;
  height: 52px;
  display: none;
  font-size: 18px;
  z-index: 10;
  @media (max-width: $firstHorizontalBreakpoint) {
    display: inline-block;
  }
}

.popupNavMenu {
  position: absolute;
  top: 20px;
  right: 20px;
  padding-left: 20px;
  color: $iconsColor;
  background: #181818;
  width: 80%;
  //height: 60%;
  max-width: 150px;
  //max-height: 400px;
  height: 400px;
  z-index: 11;
  display: flex;
  //justify-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;


  nav {
    //background-color: rgba(169, 144, 180, 0.14);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 45px;
    //align-items: flex-start;
    row-gap: 10px;
    //position: relative;
    height: 100%;
    //width: 100%;

    a {
      box-sizing: border-box;
      //border: 1px solid gold;
      width: 50px;
      text-align: center;
      font-size: 22px;
      color: $iconsColor;
      display: block;
      line-height: 51px;
      height: 51px;
      position: relative;
      text-decoration: none;
      transition: all 0.3s ease-out;

      &:hover {
        svg {
          color: $hoveredElementHighlight;
        }

        color: $hoveredElementHighlight;
      }

      &:after {
        content: '';
        text-transform: uppercase;
        font-size: 9px;
        letter-spacing: 2px;
        position: absolute;
        bottom: -20px;
        transform: translateX(-50%, -50%);
        display: block;
        width: 100%;
        //text-align: center;
        transition: all 0.3s ease-out;
        -webkit-transition: all 0.3s ease-out;
      }

      &:first-child {
        &:after {
          content: 'HOME';
        }
      }
    }

    a.aboutLink {
      &:after {
        content: 'ABOUT';
      }
    }

    a.skillsLink {
      &:after {
        content: 'SKILLS';
      }
    }

    a.contactLink {
      &:after {
        content: 'CONTACT';
      }
    }

    a.portfolioLink {
      &:after {
        content: 'works';
      }
    }

    a.active {
      svg {
        color: $hoveredElementHighlight;
      }
    }
  }

  ul {
    //align-self: center;
    //background-color: crimson;
    padding: 0;
    position: absolute;
    bottom: -5px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    list-style: none;

    li {
      a {
        padding: 7px 0;
        display: block;
        font-size: 18px;
        line-height: 16px;
        color: $iconsColor;

        &:hover svg {
          color: $hoveredElementHighlight;
        }
      }
    }
  }
}

.popupClose {
  @extend .flat-button;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
  width: 56px;
  height: 52px;
  z-index: 12;
  border: none;
  font-size: 18px;
  //padding: 5px;
}

.enterActive {
  :global {
    animation: flipInY 1.1s forwards;
  }
}

.exitActive, .appearActive {
  :global {
    animation: flipOutY 1.1s forwards;
  }
}

.enterDone {
  :global {
    animation: pulse 1s;
  }
}